/* GOOGLE FONTS */
@import 'https://fonts.googleapis.com/css?family=Raleway';

@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

/* BODY */
body {
	margin: 0;
	font-family: "Raleway", arial, serif;
	font-size: 62.5%;
}

	/* HEADINGS */
	h1, h2, h3 {
		margin: 0;
	}

	/* LINKS */
	a, a:visited {
		color: white;
		text-decoration: none;
	}

.clear {
	clear: both;
}

/* HEADER */
header {
	/* BACKGROUND */
	background-image: url("../img/macbook.jpg");
	background-size: cover;
	height: 100vh;
	/* FLEX */
	color: white;

	margin-bottom: 50px;
}

	.main-title {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 90vh;
		text-align: center;
	}

	/* HEADER HEADINGS */
	header h1,h3 {
		margin: 5px;
	}

	header h1{
		font-size: 4.5em;
	}

	header h2, h3 {
		font-size: 2.5em;
	}

/* NAVIGATION */
nav {
	overflow: hidden;
	position: fixed;
	transition-duration: 1s;
	width: 100%;
	color: white;
	padding: 15px;
}

/* NAV UL */
ul {
	float: right;
	list-style-type: none;
	padding-right: 45px;
	padding-top: 4px;
}

ul li {
	display: inline-block;
	font-size: 2.0em;
	padding: 7px 15px;
}

ul li a, ul li a:visited {
	color: white;
	text-decoration: none;
}

ul li a:hover {
	text-decoration: underline;
}

ul.topnav.responsive li {
	padding-left: 25px;
}

/* HAMBURGER BUTTON HIDE */
.icon {
	display: none;
}

/* NAV TITLE (NAME) */
.nav-title {
	font-size: 4.0em;
	padding: 5px;
	padding-left:20px;
	float: left;
}


/* SECTIONS */
section {
	width: 100%;
}

.section-intro{
	text-align: center;
	font-size: 2em;
	padding-bottom: 35px;
	font-weight: bold;
}

/* SECTION HEADINGS */
.section-heading {
	color: black;
  	font-family: 'Cardo', serif;
  	font-size: 1.5em;
  	font-weight: normal;
  	font-style: italic;
  	letter-spacing: 0.1em;
  	line-height: 2.2em;
  	text-align: center;
  	padding-bottom: 30px;
}
em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style:normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

  &::before, &::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
	opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
	}
}

/* BIO SECTION */
.bio {
	margin-bottom: 50px;
	overflow: hidden;
}

#bio-pic {
	width: 450px;
	max-width: 80%;
	padding: 25px;
	margin-left: 5%;
	border-radius: 50%;
	float: left;
}

#bio-text {
	float:left;
	width: 40%;
	text-align: center;
	padding-left: 55px;
	padding-right: 10px;
}

#bio-text p {
	font-size: 2.0em;
	padding: 10px;
}

/* PORTFOLIO SECTION */
.portfolio {
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 50px;
	background-color: lightgrey;
}

.row {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding-bottom: 35px;
}

.project img{
	max-width: 100%;
}

.left-project {
    float:left;
    width: 28%;
    margin-left: 43px;
}

.center-project {
    display: inline-block;
    margin:0 auto;
    width: 28%;
}

.right-project {
    float:right;
    width: 28%;
    margin-right: 43px;
}


/* CONTACT SECTION */
.contact {
	padding-top: 70px;
}

#email-form {
	width: 70%;
	margin: 0 auto;
}

input {
	display: block;
	width: 90%;
	padding: 15px;
	margin: 15px;
	font-size: 1.8em;
	box-sizing: border-box;
	text-align: center;
}

textarea {
	display: block;
	width: 90%;
	padding: 15px;
	margin: 15px;
	font-size: 1.8em;
	text-align: center;
	box-sizing: border-box;
	font-family: "Raleway", arial;
}

#submit {
	margin: 0;
	margin-left: 15px;
	margin-bottom: 70px;
	cursor: pointer;
	box-sizing: border-box;
	background-color: lightgrey;
	border-radius: 10px;
}

/* FOOTER */
footer {
	padding-top: 35px;
	background-color: lightgrey;
	max-width: 100%;
	height: 140px;
	text-align: center;
}

.social {
	padding-right: 20px;
	padding-left: 20px;
}

.social:hover {
	color: black;
}

#footer-text {
	font-size: 1.7em;
	padding-top: 17px;
}

/* MEDIA QUERIES */

/* NAVIGATION MEDIA QUERIES */

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:807px) {
  ul.topnav li:not(:last-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:807px) {
  ul.topnav.responsive {
  	position: relative;
  	width: 100%;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 55px;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

/* BIO SECTION MEDIA QUERIES */
@media screen and (min-width: 1200px) {
	#bio-pic {
		margin-right: 5%;
	}
}

@media screen and (max-width: 1065px) {
	#bio-pic {
		margin-right: 2%;
		width: 350px;
		padding-top: 80px;
	}
}

@media screen and (max-width:885px) {
	.bio {
		text-align: center;
	}

	#bio-text {
		width: 100%;
		padding: 0;
		float: none;
	}

	#bio-pic {
		width: 350px;
		padding:0;
		padding-bottom: 25px;
		float: none;
	}
}

/* PORTFOLIO SECTION MEDIA QUERIES */
@media screen and (max-width: 750px) {
	.row {
		padding-bottom: 0;
	}

	.left-project {
		padding-bottom: 10px;
	  float:none;
	  width: 90%;
		margin-left: 0;
		margin: 0 auto;
	}

	.center-project {
		padding-bottom: 10px;
	  margin:0 auto;
	  width: 90%;
	}

	.right-project {
		padding-bottom: 10px;
	  float:none;
	  width: 90%;
		margin: 0 auto;
	}
}

/* FOOTER ICONS MEDIA QUERIES */
@media screen and (max-width: 550px) {
	.social {
		padding: 5px;
	}
}
